/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
}

img {
    width: 100px;
}

.menu {
    order: 1;
    display: none;
}

@media only screen and (max-width:524px) {
    ul {
        flex-direction: column;
        display: none;
    }

    .menu {
        display: block;
    }

    ul.show {
        display: block;
    }
}

/* nav end */
/* hero */

.sec1 {
    border: 1px solid;
    width: 100%;
    height: 550px;
}

.type {
    margin-top: 100px;
    margin-left: 60px;
}

.sec1 img {
    height: 25pc;
    width: 35pc;
    left: 700px;
    position: absolute;
    bottom: 55px;
    border-radius: 15px;
    animation: shake 2s linear infinite;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }
}

.btn1 {
    padding: 8px;
    border-radius: 8px;
    background-color: blue;
    color: white;
    border: none;
}

.btn2 {
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(255, 238, 0);
    color: rgb(0, 0, 0);
    border: none;
    margin-left: 8px;
}

.type h1 {
    color: rgb(0, 0, 116);
}

.type p {
    line-height: 25px;
}

/* hero end */
/* services */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.service {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    background-color: white;
}

.service-section {
    margin-left: 50px;
    margin-top: 20px;
    padding-right: 20px;
}

.service-section h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.service-section p {
    color: #666;
    font-size: 16px;
}

.service-cards {
    margin-left: 100px;
    display: flex;
}

.service-card {
    background-color: #00b7ff2f;
    border-radius: 18px;
    padding: 20px;
    margin-bottom: 20px;
    width: 200px;
    margin-right: 20px;
    border: none;
}

.service-card h3 {
    margin-top: 0;
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}

.service-card p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

.icon {
    color: #333;
    margin-right: 8px;
}

@media only screen and (max-width: 768px) {
    .service {
        flex-direction: column;
    }

    .service-section,
    .service-cards {
        flex-basis: 100%;
    }

    .service-card {
        width: calc(100% - 20px);
    }
}

@media only screen and (max-width: 1255px) {
    .service-section p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1008px) {
    .service-section p {
        font-size: 12px;

    }

    .p4 {
        display: none;
    }
}

@media only screen and (max-width: 952px) {
    .service-section p {
        font-size: 12px;

    }

    .p4 {
        display: none;
    }

    .p3 {
        display: none;
    }

    .service-card {
        background-color: #00b7ff2f;
        border-radius: 18px;
        padding: 15px;
        margin-bottom: 20px;
        width: 190px;
        font-size: 12px;
        margin-right: 20px;
        border: none;
    }
}

@media only screen and (max-width: 885px) {
    .service-cards {
        margin-top: 250px;
    }

    .service-section {
        position: absolute;
        align-items: center;
    }
}

@media only screen and (max-width: 454px) {
    .p2 {
        display: none;
    }

    .service-section {
        position: absolute;
        align-items: center;
        text-align: center;
    }
}

/* services end */
/* footer */

.footer {
    border: 1px solid black;
    width: 100%;
    height: 550px;
    display: flex;
}

.row4 {
    top: 350px;
    left: 1040px;
    color: white;
}

.first {
    top: 50px;
    left: 40px;
    color: white;
}

.ft1 {
    display: grid;
    color: white;
}

.ft1 li {
    margin: 5px;
}

.ft2 {
    display: grid;
    color: white;
}

.ft2 li {
    margin: 5px;
}

.ft3 {
    display: grid;
    color: white;
}

.ft3 li {
    margin: 5px;
}

.ft0 {
    display: flex;
}

/* footer end */
/* pre loader */

.circle1 {
    margin-left: 590px;
    margin-top: 200px;
    border: 10px solid blue;
    border-top: 10px solid black;
    width: 100px;
    height: 100px;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: flex;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body {
    animation: anima 2s 1;
    transition: 2s;
}

@keyframes anima {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

.circle2 {
    background-color: white;

    width: 80px;
    height: 80px;
    position: fixed;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    display: flex;
}

#website {
    display: none;
}

/* pre loader end */